.App {
  background-color:lightskyblue;
  ;
}


nav ul {
  display:flex;
  margin:auto;
  justify-content: center;
  
}

ul li { 
  font-size: large;
  padding: 60px;
  color:black;
}

#div-header{
  background-color: black;
}

ul{
  list-style: none;
}

h1 {
  color:white;
  text-align:center;
  font-weight: bold;
}

#profile-image {
        display:block;
        margin:auto;
        width: 200px;
        height:200px;
        border: solid black 1px;
        border-radius:10px;

}

p, h2{
  text-align: center;
}

#img-div {
  
  background-image: url("sciencepic.jpg");
  background-color:lightskyblue;

}
